.errorPage {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 60vh;
}

.errorText {
  font-size: 32px;
}

.errorSubText {
  font-size: 18px;
  color: #666;
}
