@import url("https://fonts.googleapis.com/css2?family=Momo+Signature&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  gap: 350px;
  background-color: #f8f8f8;
}

.headerText {
  font-family: "Momo Signature", cursive;
}

.headerLogo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerIcons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.headerLogoLink {
  text-decoration: none;
  color: black;
}

.headerLogoLink:hover {
  color: grey;
}

.headerIconLinks {
  text-decoration: none;
  color: black;
}
