header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f8f8;
}

.headerLogo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerIcons {
  display: flex;
  align-items: center;
  gap: 15px;
}
