.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  gap: 150px;
}

.productWheel {
  display: flex;
  gap: 16px;
  overflow-x: auto; /* enables horizontal scroll */
  scroll-behavior: smooth;
  padding: 10px 20px;
  max-width: 1200px;
}

/* Hide scrollbar but keep scroll */
.productWheel::-webkit-scrollbar {
  display: none;
}

.productWheelItem {
  min-width: 180px; /* key for horizontal layout */
  flex-shrink: 0; /* prevents squishing */
  background: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.productWheelImage {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.productWheelPrice {
  font-weight: bold;
  margin-top: 8px;
}

.productWheelButton {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #adadad;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}

.productWheelButton:hover {
  background-color: #8c8c8c;
}

.infoContainer {
  display: flex;
  gap: 250px;
}

.infoDescription {
  max-width: 400px;
}

.infoImage {
  width: 300px;
  height: auto;
  margin-right: 20px;
}
